/track1_frames/
/track1/
/v1-val_testvideos_frames/
/obj_v3_model/
/v1-val_testvideos_frames/
/AICITY_test_track_out/
/AICITY_test_json_out/
/obj_v6_model/
/test_json_out/
/test_track_out/
/test_json_out/
/test_track_out/
/obj_v3_model.tgz
/track1.abs.lst
/track1.lst
/MVI_20011.xml
*.npz
/Detrac/training_frames/*.jpg